---
---

@import "{{ site.theme }}";

$gold: #f7ce1e;

header {
    display: flex;
    width: 100%;

    h1 {
        border-bottom: none;
        line-height: 1;
        margin-left: 65px;
    }
}

section {
    display: block;
    margin: 50px auto;
    text-align: center;
}

h1 {
    border-bottom: 1px solid $gold;
}

h2 {
    color: #393939;
    display: inline-block;
    margin: 0 0 20px 0;
    padding: 0 30px 15px 0;
    border-bottom: 1px solid $gold;
}

h3 {
    font-style: italic;
}

th {
    color: #444;
    font-size: 1.17em;
    border-bottom: 1px solid $gold;
}

td {
    border-bottom: none;
    padding: 10px 10px;
}

a {
    color: #777;
    transition: color 0.2s ease-in-out;

    &:hover {
        font-weight: normal;
        color: $gold;
        cursor: pointer;
    }
}

ul {
    list-style-type: none;
    padding: 0;

    li {
        padding: 4px 0;
    }
}

ol {
    li {
        padding: 4px 0;
    }
}

hr {
    border: 0;
    background: $gold;
    height: 1px;
    margin: 0 0 20px;
}

footer {
    display: block;
    width: 100%;
    position: relative;
}
